
body{
    background-color: black
}

.big-head{
    font-size: 60px;
    color: rgb(7, 143, 64);
    text-align: center;
    

}
.big-head:hover{
    color: red
}
.div1{
    width: 400px;
    height: 300px;
    border: 2px solid blue;
    text-align: center;
    float: left;
    margin-left: 170px;
    transition: 2s;
   
    
    
}
.div1:hover{
 background-color: rgb(206, 245, 143);
}
.first-head{
    font-size:40px;
    color:rgb(2, 90, 61);
}
.first-head:hover{
    color:  rgb(252, 14, 14);
}
.first-paragraph{
    font-size: 25px;
    color: rgb(109, 63, 7);

}
.first-paragraph:hover{
    color: rgb(121, 13, 221);
}
.first-link{
    text-decoration: none;
    font-size: 20px;

}
.first-link:hover{
    color: rgb(233, 32, 32);
}
.div2{
    width: 400px;
    height: 300px;
    border: 2px solid blue;
    text-align: center;
    float: left;
    margin-left: 170px;
}
.div2:hover{
    background-color: rgb(206, 245, 143);
}
.second-head{
    font-size:40px;
    color: rgb(2, 90, 61);
}
.second-head:hover{
    color: rgb(252, 14, 14);
}
.second-paragraph{
    font-size: 25px;
    color: rgb(109, 63, 7);
}
.second-paragraph:hover{
    color: blueviolet;
}
.second-link{
    text-decoration: none;
    font-size: 20px;
}
.second-link:hover{
    color: rgb(233, 32, 32);
}
.div3{
    width: 400px;
    height: 300px;
    border: 2px solid blue;
    text-align: center;
    float: left;
    margin-left: 170px;
}
.div3:hover{
    background-color: rgb(206, 245, 143);
}
.third-head{
    font-size:40px;
    color: rgb(2, 90, 61);
}
 .third-head:hover{
    color:rgb(252, 14, 14);
}
.third-paragraph{
    font-size: 25px;
    color: rgb(109, 63, 7);
}
.third-paragraph:hover{
    color: blueviolet;
}
.third-link{
    text-decoration: none;
    font-size: 20px;
}
.third-link:hover{
    color: rgb(233, 32, 32);
}
button{
    width: 250px;
    height: 50px;
    background-color: green;
   
    border-radius: 20px;
    margin-top: 10%;
   text-align: center;
   margin-left: 45%;
   font-size: 20px;
   color: aqua;
   transition: 2s;

}
button:hover{
    background-color: blueviolet;
    color: blue;
}